<div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_content">
                    <span class="section">Enroll Student</span>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-1">Name <span class="required">*</span></label>
                            <div class="col-md-3"> 
                                <input type="text" class="form-control"/>
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1" >Father Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control "/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">Mother Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
              
                     <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-1 ">Nationality<span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control datepicker "/>
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">Enroll Date <span class="required">*</span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control datepicker "/>
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 ">Session Year<span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>Select One</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-11">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                

            </div>
        </div>
    </div>

</div>