<div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_content">
                    <span class="section">Assign Teacher</span>
                    <div class="row">
                   
                        <div class="form-group">
                            <label class="control-label col-md-1 ">Class Id<span class="required">*</span></label>
                            <div class="col-md-3">
                                    <select class="form-control" [(ngModel)]="teacherMapService.teacherMapModel.classId" >                              
                                        <option  [ngValue]="null">Select Class</option>
                                        <option *ngFor="let a of classList"  [value]="a.classId">{{a.name}}</option>                                        
                                </select> 
                          
                            </div>
                        </div>
                 
               
                    </div>

              
                  
                    <div class="row">
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-11">
                                <button type="submit" (click)="addTeacher()" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                

            </div>
        </div>
    </div>

</div>