<div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_content">
                    <span class="section">Assign Teacher</span>
                    <div class="row">
                   
                        <div class="form-group">
                            <label class="control-label col-md-1 ">Class Id<span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control" [(ngModel)]="teacherMapService.teacherMapModel.classId">
                                    <option>Select One</option>
                                    <option value="3643df7f-20d0-4e58-bf7a-f02f3f4dda14">1</option>
                                    <option value="f3e30d1c-f543-4eba-9747-b5350c0a2f10">2</option>
                                </select>
                                
                            </div>
                        </div>
                 
                     
                      {{data.teacherId}}
                    </div>

              
                  
                    <div class="row">
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-11">
                                <button type="submit" (click)="addTeacher()" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                

            </div>
        </div>
    </div>

</div>