<div class="page-title">
    <div class="title_left">
        <h3>Students</h3>
    </div>
    <div style="float:right;">
      <a href="/portal/createpatient" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a>
    </div>
  </div>
    <table class="table  table-bordered" >
       
        <tbody>
        <tr >
            <td>
                <tr class="table_data_master"  colspan="5">
                    <span style="font-weight: bold;">class 1</span>
                </tr>
                <tr class="table_data_master">
                    <td>
                        <tr>
                            <td>Name: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Standard: </td>
                            <td>Standard</td>
                        </tr>
                        <tr>
                            <td>Total Student: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Max Student: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Sesstion Year: </td>
                            <td>Name</td>
                        </tr>
                    </td>
                </tr>

                <tr class="table_data_master">
                    <td>
                        <tr>
                            <td>Teacher Id: </td>
                            <td>Teacher Id</td>
                        </tr>
                        <tr>
                            <td>Name </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Designatin</td>
                            <td>Designatin</td>
                        </tr>
                    </td>
                </tr>

                <tr class="table_data">
                    <td>
                       <tr class="table_data">
                          <td>
                            <tr>
                                <td>Student Id</td>
                                <td>Student Id</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Mother Name</td>
                                <td>Mother Name</td>
                            </tr>
                            <tr>
                                <td>Father Name</td>
                                <td>Father Name</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>Nationality</td>
                            </tr>
                          </td>
                       </tr>

                       <tr class="table_data"> 
                        <td>
                          <tr>
                              <td>Student Id</td>
                              <td>Student Id</td>
                          </tr>
                          <tr>
                              <td>Name</td>
                              <td>Name</td>
                          </tr>
                          <tr>
                              <td>Mother Name</td>
                              <td>Mother Name</td>
                          </tr>
                          <tr>
                              <td>Father Name</td>
                              <td>Father Name</td>
                          </tr>
                          <tr>
                              <td>Nationality</td>
                              <td>Nationality</td>
                          </tr>
                        </td>
                        </tr>
                    </td>
                </tr>
             
            </td>
          
        </tr>
        <tr  colspan="5">
            <td>
                <tr class="table_data_master">
                    <span style="font-weight: bold;">class 2</span>
                </tr>
                <tr class="table_data_master">
                    <td>
                        <tr>
                            <td>Name: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Standard: </td>
                            <td>Standard</td>
                        </tr>
                        <tr>
                            <td>Total Student: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Max Student: </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Sesstion Year: </td>
                            <td>Name</td>
                        </tr>
                    </td>
                </tr>

                <tr class="table_data_master">
                    <td>
                        <tr>
                            <td>Teacher Id: </td>
                            <td>Teacher Id</td>
                        </tr>
                        <tr>
                            <td>Name </td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Designatin</td>
                            <td>Designatin</td>
                        </tr>
                    </td>
                </tr>

                <tr class="table_data">
                    <td>
                       <tr class="table_data">
                          <td>
                            <tr>
                                <td>Student Id</td>
                                <td>Student Id</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Mother Name</td>
                                <td>Mother Name</td>
                            </tr>
                            <tr>
                                <td>Father Name</td>
                                <td>Father Name</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>Nationality</td>
                            </tr>
                          </td>
                       </tr>

                       <tr class="table_data"> 
                        <td>
                          <tr>
                              <td>Student Id</td>
                              <td>Student Id</td>
                          </tr>
                          <tr>
                              <td>Name</td>
                              <td>Name</td>
                          </tr>
                          <tr>
                              <td>Mother Name</td>
                              <td>Mother Name</td>
                          </tr>
                          <tr>
                              <td>Father Name</td>
                              <td>Father Name</td>
                          </tr>
                          <tr>
                              <td>Nationality</td>
                              <td>Nationality</td>
                          </tr>
                        </td>
                        </tr>
                    </td>
                </tr>
             
            </td>
          
        </tr>
        </tbody>
    </table>
    <pagination-controls class="my-pagination"></pagination-controls>
